
<div class="row">

    <div class="col-md-1">
        <label>Pris: </label>
    </div>
    <div class="col-md-2">
        <input type="text" id="lowestPrice" class="form-control display-line" data-bind="value:lowestPrice, valueUpdate: 'afterkeydown'">

    </div>
    <div id="slider-range" class="col-md-3"></div>
    <div class="col-md-2">
        <input type="text" id="highestPrice" class="form-control" data-bind="value:highestPrice, valueUpdate: 'afterkeydown'">
    </div>


    <div class="col-md-4">
        <div class="btn-group ">
            <button type="button" class="btn btn-default" data-bind="click:orderByLowestPrice">Lägsta pris</button>
            <button type="button" class="btn btn-default" data-bind="click:orderByHighestPrice">Högsta pris</button>

        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-2"> <label>Varumärken:</label></div>
    <div class="col-md-6" data-bind="foreach:brands">

        <button class="btn btn-default btn-brand display-line" data-bind="click:$parent.filterAfterBrand, attr:{id:$data}"><span data-bind="text:$data"></span></button>

    </div>
    <div class="col-md-2"><button class="btn btn-default" id="clear-filters" data-bind="click:clearFilter">Rensa filter</button></div>
</div>

